
<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="pixelstrap">

    <!--fonts awesome link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--<link rel="icon" href="assets/images/1.png" type="image/x-icon">-->
    <!--<link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">-->
    <title>ABC Credit Co-Operative Socity Ltd. | Nagpur </title>
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/font-awesome.css}">

    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/vendors/icofont.css}">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/vendors/themify.css}">

    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/vendors/flag-icon.css}">

    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/vendors/feather-icon.css}">

    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/vendors/slick.css}">
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/vendors/slick-theme.css}">
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/vendors/scrollbar.css}">

    <link rel="stylesheet" type="text/css" th:href="@{assets/css/vendors/datatables.css}">

    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/vendors/bootstrap.css}">

    <!-- App css-->
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/style.css}">
    <link id="color" rel="stylesheet" th:href="@{assets/css/color-1.css}" media="screen">

    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/responsive.css}">
    <!-- customize  css-->
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/style1.css}">



</head>










<style>
    .page-wrapper .page-header .header-wrapper .nav-right ul li svg {
  vertical-align: middle;
  width: 20px;
  height: 18px;
  stroke: rgb(104 94 165);
  fill: none;
  vertical-align: sub;
   }
</style>

<body>
<div class="loader-wrapper">
    <div class="loader loader-1">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>
        <div class="loader-inner-1"></div>
    </div>
</div>
<!-- loader ends-->
<!-- tap on top starts-->
<div class="tap-top"><i data-feather="chevrons-up"></i></div>
<!-- tap on tap ends-->
<!-- page-wrapper Start-->
<div class="page-wrapper compact-wrapper" id="pageWrapper">

    <div class="page-header row">
        <div class="header-logo-wrapper col-auto">
            <div class="logo-wrapper"><a href="index.php"><img class="img-fluid for-light" src="assets/images/logo/logo.png" alt=""/><img class="img-fluid for-dark" src="assets/images/logo/logo_light.png" alt=""/></a></div>
        </div>
        <div class="col-4 col-xl-8 page-title">
            <h4 class="f-w-700">ABC Credit Co-Operative Socity Ltd.</h4>
            <nav>
                <ol class="breadcrumb justify-content-sm-start align-items-center mb-0">
                    <li class="breadcrumb-item"><a href="index.php"> <i data-feather="home"> </i></a></li>
                    <li class="breadcrumb-item f-w-400">Branch: Nagpur</li>
                </ol>
            </nav>
        </div>
        <!-- Page Header Start-->
        <div class="header-wrapper col m-0">
            <div class="row">
                <form class="form-inline search-full col" action="#" method="get">
                    <div class="form-group w-100">
                        <div class="Typeahead Typeahead--twitterUsers">
                            <div class="u-posRelative">
                                <input class="demo-input Typeahead-input form-control-plaintext w-100" type="text" placeholder="Search Mofi .." name="q" title="" autofocus>
                                <div class="spinner-border Typeahead-spinner" role="status"><span class="sr-only">Loading...</span></div><i class="close-search" data-feather="x"></i>
                            </div>
                            <div class="Typeahead-menu"></div>
                        </div>
                    </div>
                </form>
                <div class="header-logo-wrapper col-auto p-0">
                    <div class="logo-wrapper"><a href="index.php"><img class="img-fluid" src="assets/images/logo/logo.png" alt=""></a></div>
                    <div class="toggle-sidebar">
                        <svg class="stroke-icon sidebar-toggle status_toggle middle">
                            <use href="assets/svg/icon-sprite.svg#toggle-icon"></use>
                        </svg>
                    </div>
                </div>
                <div class="nav-right col-xxl-8 col-xl-6 col-md-7 col-8 pull-right right-header p-0 ms-auto">
                    <ul class="nav-menus">

                        <!--Full Screen-->
                        <li>
                            <div class="form-group w-100">
                                <div class="Typeahead Typeahead--twitterUsers">

                                </div>
                            </div>
                        </li>
                        <!--Dark MOde-->
                        <li class="fullscreen-body">                       <span>
                    <svg id="maximize-screen">
                      <use href="assets/svg/icon-sprite.svg#full-screen"></use>
                    </svg></span></li>
                        <!--<li>-->
                        <!--  <div class="mode">-->
                        <!--    <svg>-->
                        <!--      <use href="assets/svg/icon-sprite.svg#moon"></use>-->
                        <!--    </svg>-->
                        <!--  </div>-->
                        <!--</li>-->
                        <!--profile-->
                        <li class="profile-nav onhover-dropdown px-0 py-0">
                            <div class="d-flex profile-media align-items-center"><img class="img-30" src="assets/images/dashboard/profile.png" alt="">
                                <div class="flex-grow-1"><span>XYZ</span>
                                    <p class="mb-0 font-outfit">Admin<i class="fa fa-angle-down"></i></p>
                                </div>
                            </div>
                            <ul class="profile-dropdown onhover-show-div">

                                <li><a href="#"><i data-feather="Profiles"></i><span>Profile</span></a></li>
                                <li><a href="/logout"><i data-feather="log-in"> </i><span>Log out</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <script class="result-template" type="text/x-handlebars-template">
                    <div class="ProfileCard u-cf">
                        <div class="ProfileCard-avatar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay m-0"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg></div>
                        <div class="ProfileCard-details">
                            <div class="ProfileCard-realName">{{name}}</div>
                        </div>
                    </div>
                </script>
                <script class="empty-template" type="text/x-handlebars-template"><div class="EmptyMessage">Your search turned up 0 results. This most likely means the backend is down, yikes!</div></script>
            </div>
        </div>
        <!-- Page Header Ends-->
    </div>  <style>
    .fa-solid, .fas {
  color: white;
  margin-right: 10px;
  font-weight: 900;
  }
  .fa  {
  color: white;
  margin-right: 10px;
  }
  .icofont {
        color: white;
  margin-right: 10px;
  }
</style>

    <!-- Page Body Start-->
    <div class="page-body-wrapper">

        <div class="sidebar-wrapper" data-layout="stroke-svg">
            <div>
                <div class="logo-wrapper"><a href="index.php">
                    <!--<img class="img-fluid" src="assets/images/logo/logo_light.png" alt="">-->
                    <h1 style="color:white">Logo</h1>
                </a>
                    <div class="back-btn"><i class="fa fa-angle-left"></i></div>
                    <div class="toggle-sidebar">
                        <svg class="stroke-icon sidebar-toggle status_toggle middle">
                            <use href="assets/svg/icon-sprite.svg#toggle-icon"></use>
                        </svg>
                        <svg class="fill-icon sidebar-toggle status_toggle middle">
                            <use href="assets/svg/icon-sprite.svg#fill-toggle-icon"></use>
                        </svg>
                    </div>
                </div>
                <div class="logo-icon-wrapper"><a href="index.php"><img class="img-fluid" src="assets/images/logo/logo-icon.png" alt=""></a></div>
                <nav class="sidebar-main">
                    <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
                    <div id="sidebar-menu">
                        <ul class="sidebar-links" id="simple-bar">
                            <li class="back-btn"><a href="index.php"><img class="img-fluid" src="assets/images/logo/logo-icon.png" alt=""></a>
                                <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
                            </li>
                            <li class="pin-title sidebar-main-title">
                                <div>
                                    <h6>Pinned</h6>
                                </div>
                            </li>
                            <li class="sidebar-main-title">
                                <div>
                                    <h6 class="">Account</h6>
                                </div>
                            </li>
                            <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="#">
                                <svg class="stroke-icon">
                                    <use href="assets/svg/icon-sprite.svg#toggle-icon"></use>
                                </svg>
                                <svg class="fill-icon">
                                    <use href="assets/svg/icon-sprite.svg#toggle-icon"></use>
                                </svg><span>Dashboard</span></a>
                            </li>

                            <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                                <i class="fa fa-university"></i>
                                <span class="">Account Opening </span></a>
                                <ul class="sidebar-submenu">
                                    <li><a class="" href="new_customer_aco.html">New Customer</a></li>
                                    <li><a class="" href="sharing_account.html">Share Account Opening</a></li>
                                    <li><a class="" href="deposite_account.html">Deposite Account Opening</a></li>
                                    <li><a href="loan_account.html">Loan Account Opening</a></li>F
                                    <li><a href="smallsaving.html">Small Saving/Pigmy</a></li>
                                    <li><a class="" href="#">Nominal Member</a></li>
                                    <li><a href="investment_and_security">Investment & Security</a></li>
                                </ul>
                            </li>



                            <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                                <i class="fa-solid fa-money-bill-1-wave"></i>

                                <svg class="fill-icon">
                                    <use href="assets/svg/icon-sprite.svg#fill-widget"></use>
                                </svg><span class="">Transaction</span></a>
                                <ul class="sidebar-submenu">
                                    <li><a href="cash-entry.php">Cash Entry</a></li>
                                    <li><a href="transfer_entry.php">Transfer Entry</a></li>
                                    <li><a href="ssd_quickentry.php">SSD Quick Entry</a></li>
                                    <li><a href="rd_quickentry.php">RD Quick Entry</a></li>
                                    <li><a href="#">Dividend Payment</a></li>
                                    <li><a href="passing_transaction.php">Passing Transaction</a></li>
                                    <li><a href="ssd_passing.php">SSD Passing</a></li>
                                    <li><a href="rd_passing.php">RD Passing</a></li>
                                </ul>
                            </li>
                            <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="#">
                                <i class="fa-solid fa-house-lock"></i>
                                <span>Account Closing</span></a>
                            </li>
                            <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                                <i class="fa-solid fa-arrows-rotate"></i><span class="">Account Renewal</span></a>
                                <ul class="sidebar-submenu">
                                    <li><a href="#">Deposite Renewal</a></li>
                                    <li><a href="#">Loan Renewal</a></li>
                                    <li><a href="#">SSD/Pigmy Renewal</a></li>
                                </ul>
                            </li>
                            <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                                <i class="icofont icofont-money-bag"></i>
                                <span>Small Saving/Pigmy</span></a>
                                <ul class="sidebar-submenu">
                                    <li><a href="#">SSD/Pigmy A/C Opening </a></li>
                                    <li><a href="#">Account Linking </a></li>
                                    <li><a href="#">Loan A/C Linking </a></li>
                                    <li><a class="submenu-title" href="javascript:void(0)">Pigmy Unit Interface<span class="sub-arrow"><i class="fa fa-angle-right"></i></span></a>
                                        <ul class="nav-sub-childmenu submenu-content">
                                            <li><a href="#">Read From Pigmy</a></li>
                                            <li><a href="#">Write To Pigmy</a></li>
                                            <li><a href="#">Agent to SSD Interface</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Pigmy Mobile App</a></li>
                                    <li><a href="#">Agent Comission</a></li>
                                </ul>
                            </li>
                            <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="#">
                                <i class="icofont icofont-wheel"></i>
                                <span>System</span></a>
                            </li>


                            <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                                <i class="fa-solid fa-screwdriver-wrench"></i><span class="">Utility</span></a>
                                <ul class="sidebar-submenu">
                                    <li><a href="schedule_master.html">Schedule Master</a></li>
                                    <li><a href="add-master.html">Add Master</a></li>
                                    <li><a href="general_ledger_master.html">General Ledger Master</a></li>
                                </ul>
                            </li>

                            <li class="sidebar-main-title">
                                <div>
                                    <h6 class="">Interest</h6>
                                </div>
                            </li>

                            <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                                <i class="icofont icofont-money-bag"></i>
                                <span>Daily Reports</span></a>
                                <ul class="sidebar-submenu">
                                    <li><a class="submenu-title" href="javascript:void(0)">Cash Book<span class="sub-arrow"><i class="fa fa-angle-right"></i></span></a>
                                        <ul class="nav-sub-childmenu submenu-content">
                                            <li><a href="cash_book.php">Cash Book</a></li>
                                            <li><a href="cash_book_pl.php">Cash Book PL and BalSheet</a></li>
                                            <li><a href="covering_voucher.php">Covering Voucher</a></li>
                                            <li><a href="cash_book_ledgerwise.php">Cash Book Ledgerwise</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="submenu-title" href="javascript:void(0)">Day Book<span class="sub-arrow"><i class="fa fa-angle-right"></i></span></a>
                                        <ul class="nav-sub-childmenu submenu-content">
                                            <li><a href="day_book_passing.php">Day Book Passing</a></li>
                                            <li><a href="day_book_4.php">Day Book IV</a></li>
                                            <li><a href="day_book_5.php">Day Book V</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="submenu-title" href="javascript:void(0)">Other Reports<span class="sub-arrow"><i class="fa fa-angle-right"></i></span></a>
                                        <ul class="nav-sub-childmenu submenu-content">
                                            <li><a href="cutbook.php">Cut Book</a></li>
                                            <li><a href="account_open_register.php">Account Open Register</a></li>
                                            <li><a href="cut_book_GL_balance.php">Cut Book GLBalance Checking</a></li>
                                            <li><a href="user_transaction.php">User Transaction</a></li>
                                            <li><a href="balancing_statement.php">Balancing Statement</a></li>
                                            <li><a href="amountwise_trasaction_report.php">Amount Wise Transaction Report</a></li>
                                            <li><a href="sms_dilivery_report.php">SMS Delivery Repport</a></li>
                                            <li><a href="account_close_register.php">Account Close Register</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="submenu-title" href="javascript:void(0)">Agent Reports<span class="sub-arrow"><i class="fa fa-angle-right"></i></span></a>
                                        <ul class="nav-sub-childmenu submenu-content">
                                            <li><a href="agent_statement.php">Agent Statement</a></li>
                                            <li><a href="agent_chart.php">Agent Chart</a></li>
                                            <li><a href="agent_daybook.php">Agent DayBook</a></li>
                                            <li><a href="agent_cutbook.php">Agent CutBook</a></li>
                                            <li><a href="agent_statement_datewise.php">Agent Statement Datewise</a></li>
                                            <li><a href="agent_commission.php">Agent Commision</a></li>
                                            <li><a href="agent_cashbook.php">Agent Cash Book</a></li>
                                            <li><a href="accountwise_agent_commission.php">AccountWise Agent Commision</a></li>
                                            <li><a href="agent_commission1.php">Agent Commision I</a></li>
                                            <li><a href="cash_receipt_register.php">Cash Receipt Register</a></li>
                                            <li><a href="agentwise_daily_validation.php">AgentWise Daily Validation</a></li>
                                            <li><a href="agent_payvalidation.php">Agent Wise Payment Validation</a></li>
                                            <li><a href="agent_receiptvalidation.php">Agent Wise Receipt Validation</a></li>
                                            <li><a href="agent_transfervalidate.php">Agent Wise Transfer Validation</a></li>
                                            <li><a href="agent_chartreport.php">Agent Chart Report</a></li>
                                            <li><a href="agent_chartreport-I.php">Agent Chart Report I</a></li>
                                            <li><a href="agent_cutbook-I.php">Agent Cut Book I</a></li>
                                            <li><a href="agent_commisionyearwise.php">Agent Commision Year Wise</a></li>
                                            <li><a href="agent_goldreport.php">Agent Gold Report</a></li>
                                            <li><a href="agent_reportdate.php">Agent Report DateWise</a></li>
                                            <li><a href="pigmy_transchecking.php">Pigmy Transaction Checking Report</a></li>
                                            <li><a href="agent_ratio.php">Agent Ratio</a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>
                            <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="#">
                                <i class="fa-solid fa-users"></i><span>Accounts</span></a>
                            </li>


                            <li class="sidebar-main-title">
                                <div>
                                    <h6 class="">All Things</h6>
                                </div>
                            </li>
                            <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="#">
                                <i class="fa-solid fa-piggy-bank"></i><span>Small Savings</span></a>
                            </li>
                            <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="#">
                                <svg class="stroke-icon">
                                    <use href="assets/svg/icon-sprite.svg#stroke-file"></use>
                                </svg>
                                <svg class="fill-icon">
                                    <use href="assets/svg/icon-sprite.svg#fill-file"></use>
                                </svg><span>NPA & Others</span></a>
                            </li>
                            <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="#">
                                <i class="fa-solid fa-hand-holding-dollar"></i><span>Investment</span></a>
                            </li>
                            <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="#">
                                <i class="icofont icofont-list"></i><span>Final Reports</span></a>
                            </li>
                            <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="#">
                                <svg class="stroke-icon">
                                    <use href="assets/svg/icon-sprite.svg#stroke-file"></use>
                                </svg>
                                <svg class="fill-icon">
                                    <use href="assets/svg/icon-sprite.svg#fill-file"></use>
                                </svg><span>Statements</span></a>
                            </li>
                            <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="#">
                                <i class="fa-solid fa-file-lines"></i><span>AR/DDR Reports</span></a>
                            </li>
                            <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="#">
                                <i class="icofont icofont-certificate-alt-1"></i><span>Notice</span></a>
                            </li>
                            <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="#">
                                <i class="fa-solid fa-print"></i><span>Printing</span></a>
                            </li>
                            <li class="sidebar-list"><i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="#">
                                <svg class="stroke-icon">
                                    <use href="assets/svg/icon-sprite.svg#stroke-file"></use>
                                </svg>
                                <svg class="fill-icon">
                                    <use href="assets/svg/icon-sprite.svg#fill-file"></use>
                                </svg><span>Graphical Report</span></a>
                            </li>


                            <li class="sidebar-list">
                                <svg class="stroke-icon">

                                </svg>

                            </li>











                        </ul>
                    </div>
                    <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
                </nav>
            </div>
        </div>


        <div class="page-body">
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Dashboard</h4>
                            </div>
                            <div class="card-body">
                                <!--Write code here-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
        </div>




        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 footer-copyright d-flex flex-wrap align-items-center justify-content-between">
                        <p class="mb-0 f-w-600">Copyright  ©<span class="year-update"> </span></p>
                        <p class="mb-0 f-w-600">Design & Developed By Eliora Technologies Pvt Ltd.

                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<!-- latest jquery-->
<script th:src="@{assets/js/jquery.min.js}"></script>
<!-- Bootstrap js-->
<script th:src="@{assets/js/bootstrap/bootstrap.bundle.min.js}"></script>
<!-- feather icon js-->
<script th:src="@{assets/js/icons/feather-icon/feather.min.js}"></script>
<script th:src="@{assets/js/icons/feather-icon/feather-icon.js}"></script>
<!-- scrollbar js-->
<script th:src="@{assets/js/scrollbar/simplebar.js}"></script>
<script th:src="@{assets/js/scrollbar/custom.js}"></script>
<!-- Sidebar jquery-->
<script th:src="@{assets/js/config.js}"></script>
<!-- Plugins JS start-->
<script th:src="@{assets/js/sidebar-menu.js}"></script>
<script th:src="@{assets/js/sidebar-pin.js}"></script>
<script th:src="@{assets/js/slick/slick.min.js}"></script>
<script th:src="@{assets/js/slick/slick.js}"></script>
<script th:src="@{assets/js/header-slick.js}"></script>
<script th:src="@{assets/js/chart/apex-chart/apex-chart.js}"></script>
<script th:src="@{assets/js/chart/apex-chart/stock-prices.js}"></script>
<script th:src="@{assets/js/chart/apex-chart/moment.min.js}"></script>
<script th:src="@{assets/js/notify/bootstrap-notify.min.js}"></script>
<!-- calendar js-->
<script th:src="@{assets/js/dashboard/default.js}"></script>
<script th:src="@{assets/js/notify/index.js}"></script>
<script th:src="@{assets/js/datatable/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{assets/js/datatable/datatables/datatable.custom.js}"></script>
<script th:src="@{assets/js/datatable/datatables/datatable.custom1.js}"></script>
<script th:src="@{assets/js/datepicker/date-range-picker/moment.min.js}"></script>
<script th:src="@{assets/js/datepicker/date-range-picker/datepicker-range-custom.js}"></script>
<script th:src="@{assets/js/typeahead/handlebars.js}"></script>
<script th:src="@{assets/js/typeahead/typeahead.bundle.js}"></script>
<script th:src="@{assets/js/typeahead/typeahead.custom.js}"></script>
<script th:src="@{assets/js/typeahead-search/handlebars.js}"></script>
<script th:src="@{assets/js/typeahead-search/typeahead-custom.js}"></script>
<script th:src="@{assets/js/height-equal.js}"></script>
<script th:src="@{assets/js/animation/wow/wow.min.js}"></script>
<!-- Plugins JS Ends-->
<!-- Theme js-->
<script th:src="@{assets/js/script.js}"></script>
<script th:src="@{assets/js/script1.js}"></script>
<script th:src="@{assets/js/theme-customizer/customizer.js}"></script>
<!-- Plugin used-->
<script>new WOW().init();</script>



</body>
</html>